{{ end }}

server {
        server_name _; # This is just an invalid value which will never trigger on a real hostname.
        listen 80;
        access_log /var/log/nginx/access.log vhost;
        error_page 503 /503.html;
        location = /503.html {
                root /usr/share/nginx/html;
                internal;
        }
        location / {
                return 503;
        }
}

{{ if (and (exists "/etc/nginx/certs/default.crt") (exists "/etc/nginx/certs/default.key")) }}